
tmp/a.data.txt
tmp/azithromycin_eggnog.arff
tmp/azithromycin_eggnog.arff.results
tmp/chloramphenicol_eggnog.arff
tmp/formatted_tree_file_orig.txt
tmp/Gene_family_profile.txt
tmp/output.txt
tmp/q.txt
tmp/test_tree.txt
tmp/test_tree_input.txt
tmp/Tetracycline_eggnog.arff
tmp/transform_j48treefile.sh
tmp/
apply_decision_tree
eggnog.edited.arff
eggnog.edited.arff.result
